In [14]:
import pandas as pd
import datetime as dt
import numpy as np

In [48]:
df = pd.read_csv("https://github.com/cheejiayuan512/data/raw/master/order_brush_order.csv", index_col = "shopid")

In [49]:
df['event_time'] = df.apply(lambda x: dt.datetime.strptime(x.event_time,  "%Y-%m-%d %H:%M:%S" ), axis = 1)

In [50]:
df = df.groupby(['shopid']).agg(lambda x: tuple(x)).applymap(list).reset_index()

In [51]:
df['zipped'] = df.apply(lambda x: list(zip(x.event_time,x.userid)), axis=1)

In [53]:
df['zipped']= df['zipped'].apply(sorted, reverse= True)
df

,shopid,orderid,userid,event_time,zipped
0,10009,[31086409141107],[196962305],[2019-12-27 03:06:50],"[(2019-12-27 03:06:50, 196962305)]"
1,10051,"[31254979546679, 31144571933461]","[48600461, 2854032]","[2019-12-29 01:56:19, 2019-12-27 19:16:11]","[(2019-12-29 01:56:19, 48600461), (2019-12-27 ..."
2,10061,"[31431527100615, 31205132327893, 3119567591920...","[62464559, 194819216, 168750452, 130633421]","[2019-12-31 02:58:48, 2019-12-28 12:05:32, 201...","[(2019-12-31 02:58:48, 62464559), (2019-12-30 ..."
3,10084,"[31446282541417, 31377753982301, 3126554273178...","[123715078, 184840040, 6488128, 73993513, 3328...","[2019-12-31 07:04:42, 2019-12-30 12:02:33, 201...","[(2019-12-31 20:43:31, 185601856), (2019-12-31..."
4,10100,"[31219662667629, 31415528979818, 3147112150853...","[495431, 30534780, 136619968, 198765759, 13146...","[2019-12-28 16:07:42, 2019-12-30 22:32:08, 201...","[(2019-12-31 19:28:47, 55224420), (2019-12-31 ..."
...,...,...,...,...,...
18765,214662358,[31420157746353],[194332514],[2019-12-30 23:49:17],"[(2019-12-30 23:49:17, 194332514)]"
18766,214949521,"[31493203163305, 31491997643888]","[46269178, 46269178]","[2019-12-31 20:06:43, 2019-12-31 19:46:37]","[(2019-12-31 20:06:43, 46269178), (2019-12-31 ..."
18767,214964814,[31328775676314],[200983383],[2019-12-29 22:26:16],"[(2019-12-29 22:26:16, 200983383)]"
18768,215175775,"[31472077221692, 31453591917585]","[129266028, 13688804]","[2019-12-31 14:14:37, 2019-12-31 09:06:31]","[(2019-12-31 14:14:37, 129266028), (2019-12-31..."
18769,215435223,[31487696848532],[79515106],[2019-12-31 18:34:56],"[(2019-12-31 18:34:56, 79515106)]"

,shopid,orderid,userid,event_time,zipped
0,10009,[31086409141107],[196962305],[2019-12-27 03:06:50],"[(196962305, 2019-12-27 03:06:50)]"
1,10051,"[31254979546679, 31144571933461]","[48600461, 2854032]","[2019-12-29 01:56:19, 2019-12-27 19:16:11]","[(48600461, 2019-12-29 01:56:19), (2854032, 20..."
2,10061,"[31431527100615, 31205132327893, 3119567591920...","[62464559, 194819216, 168750452, 130633421]","[2019-12-31 02:58:48, 2019-12-28 12:05:32, 201...","[(62464559, 2019-12-31 02:58:48), (194819216, ..."
3,10084,"[31446282541417, 31377753982301, 3126554273178...","[123715078, 184840040, 6488128, 73993513, 3328...","[2019-12-31 07:04:42, 2019-12-30 12:02:33, 201...","[(123715078, 2019-12-31 07:04:42), (184840040,..."
4,10100,"[31219662667629, 31415528979818, 3147112150853...","[495431, 30534780, 136619968, 198765759, 13146...","[2019-12-28 16:07:42, 2019-12-30 22:32:08, 201...","[(495431, 2019-12-28 16:07:42), (30534780, 201..."
...,...,...,...,...,...
18765,214662358,[31420157746353],[194332514],[2019-12-30 23:49:17],"[(194332514, 2019-12-30 23:49:17)]"
18766,214949521,"[31493203163305, 31491997643888]","[46269178, 46269178]","[2019-12-31 20:06:43, 2019-12-31 19:46:37]","[(46269178, 2019-12-31 20:06:43), (46269178, 2..."
18767,214964814,[31328775676314],[200983383],[2019-12-29 22:26:16],"[(200983383, 2019-12-29 22:26:16)]"
18768,215175775,"[31472077221692, 31453591917585]","[129266028, 13688804]","[2019-12-31 14:14:37, 2019-12-31 09:06:31]","[(129266028, 2019-12-31 14:14:37), (13688804, ..."
18769,215435223,[31487696848532],[79515106],[2019-12-31 18:34:56],"[(79515106, 2019-12-31 18:34:56)]"